<h1>Edit</h1>
<div class="d-flex w-100 justify-content-between">
  <%= link_to '/dashboard/'+ @group_id +'/tasks', class: "btn btn-primary" do %>
    <%= octicon "chevron-left" %> Back
  <% end %>
  <%= link_to '/dashboard/'+ @group_id +'/tasks/destroy/'+@task.id.to_s, method: 'delete', class: "btn btn-danger", data: { confirm: "Are you sure" } do %>
    <%= octicon "trashcan" %> Delete
  <% end %>
</div>
<%= form_tag("/dashboard/"+ @group_id +"/tasks/"+@task.id.to_s+"/update", method: "put") do %>
  <ul class="list-group">
    <li class="list-group-item">
      <%= label_tag(:id, "Id:") %>
      <%= @task.id %>
      <%= hidden_field(:task, :id) %>
    </li>
    <li class="list-group-item">
      <%= label_tag(:name, "Name:") %>
      <%= text_field(:task, :name) %>
    </li>
    <li class="list-group-item">
      <%= label_tag(:description, "Description:") %>
      <%= text_field(:task, :description) %>
    </li>
    <li class="list-group-item">
      <%= label_tag(:input_type, "Inputtype:") %>
      <%= text_field(:task, :input_type) %>
    </li>
    <li class="list-group-item">
      <%= label_tag(:done, "Done:") %>
      <%= text_field(:task, :done) %>
    </li>
    <li class="list-group-item">
      <%= label_tag(:result, "Result:") %>
      <%= text_field(:task, :result) %>
    </li>
    <li class="list-group-item">
      <%= submit_tag("Save", class: "btn btn-success") %>
    </li>
  </ul>
<% end %>