<h1>Schedulings</h1>
<div class="d-flex justify-content-between w-100">
  <%= link_to '/dashboard/edit/'+ @group_id, class: "btn btn-primary" do %>
    <%= octicon "chevron-left" %> Back
  <% end %>
  <%= link_to "/dashboard/"+ @group_id +"/schedulings/new", class: "btn btn-success" do %>
    <%= octicon "plus" %> New
  <% end %>
</div>
<div class="list-group">
  <% @schedulings.each do |scheduling| %>
    <a href="/dashboard/<%= @group_id %>/schedulings/edit/<%= scheduling.id %>" class="list-group-item list-group-item-action"><%= scheduling.name %></a>
  <% end %>
</div>